.button {
    &_effect {
        &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.1);
            color: $bg-focus;
        }
    }
    &_link {
        outline: none;
        color: black;
        font-weight: 600;
        padding: 0.25rem 1rem;
        background: transparent;
        border: 1px dashed black;
        border-radius: $border-radius;
        
        @extend .button_effect;
    }
}
