.input {
    &_drag_n_drop {
        &_select_option {
            user-select: none;
        }
        &_wrapper {
            $m_top: auto;
            $m_left_right: 1rem;
            $m_bottom: 3rem;

            cursor: pointer;
            padding: 4rem 1rem;
            color: $color-main;
            text-align: center;
            border-radius: $border-radius;
            border: 1px dashed $color-main;
            background: rgba(0,0,0, 0.25);
            @media (max-width: 768px), (max-height: 576px) {
                padding: 0.25rem;
            }
            // margin: $m_top $m_left_right $m_bottom $m_bottom;

            // @media (max-width: 1200px) {
            //     margin: $m_bottom $m_left_right $m_left_right $m_left_right;
            // }
        }
        outline: none;
        cursor: pointer;
        font-style: italic;
        font-size: $font_size-base;
        @media (max-width: 768px), (max-height: 576px) {
            font-size: $font_size-base * 0.75;
        }
        &:hover {
            color: $bg-focus;
        }
    }
}
